@font-face {
  font-family: 'PT Sans';
  src: url("../assets/fonts/PTSans-Bold.woff2") format("woff2"), url("../assets/fonts/PTSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../assets/fonts/PTSans-Regular.woff2") format("woff2"), url("../assets/fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 1px;
}

body {
  font-family: 'PT Sans';
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.header {
  background: #265C9A;
}

.wrapper {
  width: 1129rem;
  margin: 0 auto;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21rem 0 16rem;
}

.header-title__left--col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  position: relative;
  width: 25rem;
  height: 20rem;
  display: none;
}

.hamburger.activeHamburger {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hamburger_line {
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 1.8rem;
  background: white;
  border-radius: 5rem;
  top: calc(50% - 1.2px);
}

.hamburger::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 1.8rem;
  top: 0;
  background: white;
  border-radius: 5rem;
}

.hamburger::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 25rem;
  height: 1.8rem;
  bottom: 0;
  background: white;
  border-radius: 5rem;
}

.header-title_right--col {
  position: relative;
}

.header-logo__item h1 {
  font-weight: bold;
  font-size: 28rem;
  line-height: 36rem;
  text-transform: uppercase;
}

.header-phone {
  padding: 0 87rem;
}

.header-phone__item {
  font-size: 19rem;
  line-height: 25rem;
}

.search {
  padding-left: 21rem;
  font-size: 16rem;
  line-height: 21rem;
  width: 281rem;
  color: #FFFFFF;
  background-color: #265C9A;
  background: url(../assets/images/search.svg) no-repeat;
  background-position: left 35%;
  border: none;
  border-bottom: 1rem solid #517DAE;
  font-family: 'PT Sans';
}

.search::-webkit-input-placeholder {
  color: #FFFFFF;
}

.search::-moz-placeholder {
  color: #FFFFFF;
}

.search:-ms-input-placeholder {
  color: #FFFFFF;
}

.search::-ms-input-placeholder {
  color: #FFFFFF;
}

.search::placeholder {
  color: #FFFFFF;
}

.search:focus {
  outline: none;
}

.header-payment__item {
  font-size: 16rem;
  line-height: 21rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.header-payment__item:hover {
  color: #FBFF3D;
}

.header--basket {
  display: none;
}

.menu {
  background: #1F497B;
}

.menu.activeHamburger {
  top: 72rem;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13rem 0 12rem 0;
}

.nav-list__item {
  font-size: 16rem;
  line-height: 21rem;
  font-weight: bold;
}

.nav-list__item a:hover {
  color: #FBFF3D;
}

.nav-list__item:not(:first-child) {
  margin-left: 40rem;
}

.basket {
  padding-top: 2rem;
}

.basket__item--svg {
  fill: #FFFFFF;
  margin: 2rem 9rem 0 0;
}

.header-search--img {
  display: none;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16rem;
  line-height: 21rem;
  color: #FFFFFF;
}

.basket__item:hover {
  color: #FBFF3D;
}

.basket__item:hover.basket__item--svg {
  fill: #FBFF3D;
}

.basket__item:hover .basket__item--svg {
  fill: #FBFF3D;
}

/* style main block */

.main__mapping {
  padding: 25rem 0 23rem;
}

.mapping-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 500rem;
  z-index: 1;
}

.mapping-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close-main__mapping {
  position: absolute;
  top: -40rem;
  right: 32rem;
  width: 19rem;
  height: 19rem;
  cursor: pointer;
}

.close-main__mapping:before,
.close-main__mapping:after {
  content: "";
  position: absolute;
  top: 21rem;
  left: 10rem;
  width: 26rem;
  height: 2rem;
  background: #FFFFFF;
}

.close-main__mapping:before:hover,
.close-main__mapping:after:hover {
  background: #B4B4B4;
}

.close-main__mapping:before {
  webkit-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-main__mapping:after {
  webkit-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mapping-menu__item {
  position: absolute;
  width: 246rem;
  border: 1rem solid #D0D0D0;
  padding: 13rem 0 11rem 17rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 6rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 6rem rgba(0, 0, 0, 0.15);
  z-index: 9;
}

.mapping-menu__item--link {
  width: 100%;
  background: url(../assets/images/arrow.svg) no-repeat;
  background-position: 93% 51%;
}

.mapping-menu__item a,
.submenu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16rem;
  line-height: 21rem;
  color: #484848;
}

.brand {
  left: 278rem;
  z-index: 2;
}

.submenu {
  display: none;
  margin: 12rem 16rem 0 0;
  border-top: 1rem solid #D0D0D0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.submenu--active {
  display: block;
}

.submenu__item {
  margin: 0 -16rem 0rem -17rem;
  padding: 5rem 0 5rem 17rem;
}

.submenu__item:hover {
  background: #E8EEFF;
  -webkit-transform: scale(1, 1.1);
      -ms-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.submenu__item:hover a {
  font-size: 16rem;
  line-height: 21rem;
  -webkit-transform: scale(1, 0.9);
      -ms-transform: scale(1, 0.9);
          transform: scale(1, 0.9);
}

.submenu__item--product {
  padding-top: 5rem;
  margin-top: 8rem;
}

.submenu__item--brand {
  padding-top: 5rem;
  margin-top: 10rem;
}

.mapping-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70rem;
}

.mapping-prise__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14rem;
}

.mapping-price__title,
.mapping-price__description {
  font-size: 16rem;
  line-height: 21rem;
  color: #484848;
}

.mapping-price--right {
  margin-left: 9rem;
}

.mapping-price__btn {
  display: none;
}

.mapping-price__btn:hover {
  background: #CE2929;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.price-max {
  margin-left: -1px;
  padding: 13rem 12rem 12rem 0;
}

.form-item {
  position: relative;
}

.price--input {
  width: 120rem;
  padding: 14rem 11rem 11rem 0;
  text-align: right;
  border: 1rem solid #D0D0D0;
  font-weight: bold;
  font-size: 16rem;
  line-height: 21rem;
  color: #484848;
}

.input-description {
  font-size: 16rem;
  line-height: 21rem;
  position: absolute;
  left: 11rem;
  top: 14rem;
}

.mapping-nav-mobile {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-mobile__title {
  font-weight: bold;
  font-size: 16rem;
  line-height: 21rem;
  color: #333333;
}

.nav-mobile__img {
  background: url("../assets/images/hamburger.svg");
  width: 22rem;
  height: 22rem;
}

/*style product*/

.main__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 29rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  width: 24.9%;
  border: 1rem solid #DEDEDE;
  margin: -1rem -1rem 0 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.col:hover {
  background: #E8EEFF;
}

.col--discount {
  width: 49.89%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.col--discount:hover {
  background: #FFF1F1;
}

.product-item--discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20rem 0 18rem;
}

.product-item--discount__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24rem;
  padding-top: 27rem;
}

.product-item--discount__img {
  text-align: center;
  padding: 21rem 0 0 3rem;
}

.product-item--discount__title {
  font-size: 20rem;
  font-weight: normal;
  line-height: 26rem;
  color: #333333;
}

.product-item--discount__description {
  font-size: 16rem;
  line-height: 21rem;
  color: #989898;
  padding: 4rem 0 20rem;
}

.product-item--discount__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-item--discount__price--old {
  font-size: 16rem;
  line-height: 21rem;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #989898;
  border-bottom: 1rem solid #FFBCBC;
  padding-bottom: 3rem;
}

.product-item--discount__price--new {
  position: relative;
  font-size: 20rem;
  line-height: 26rem;
  color: #FF3D3D;
  padding-top: 4rem;
}

.product-item--discount__price--new:after {
  position: absolute;
  content: url("../assets/images/basket-red.svg");
  top: 5rem;
  right: -1rem;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 22rem;
}

.product-item__img {
  text-align: center;
  padding: 21rem 0 0 1rem;
}

.product-item__title {
  font-size: 18rem;
  line-height: 23rem;
  font-weight: normal;
  color: #333333;
  margin: 10rem 0 6rem;
}

.product-item__description {
  height: 72rem;
  font-size: 14rem;
  line-height: 18rem;
  color: #979797;
  padding-bottom: 21rem;
  border-bottom: 1rem solid #8EACFC;
}

.product-item__price {
  position: relative;
  font-size: 20rem;
  line-height: 26rem;
  color: #325AC0;
  padding: 4rem 0 13rem 0;
  margin-left: -2rem;
}

.product-item__price:after {
  position: absolute;
  content: url(../assets/images/basket-blue.svg);
  top: 5rem;
  right: -1rem;
}

@media (max-width: 1024px) {
  .wrapper {
    width: auto;
  }

  .header-title__left--col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .header-title__left--col form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .header-title__left--col label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .header-title__left--col input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .hamburger {
    display: block;
    margin: 0 41rem 0 20rem;
  }

  .header-logo {
    padding-right: 41rem;
  }

  .header-phone {
    padding: 0;
    display: none;
  }

  .header-payment__item {
    display: none;
  }

  .header--basket {
    display: block;
    padding: 0 20rem 0 41rem;
  }

  .menu {
    position: absolute;
    width: 100%;
    z-index: 15;
    top: -100%;
    background: #265C9A;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .menu__nav {
    width: 100%;
  }

  .menu-content {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }

  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 14rem;
  }

  .nav-list__item {
    margin: 11rem 20rem 0;
    padding: 9rem 0 10rem 16rem;
  }

  .nav-list__item:hover {
    background: #618CBF;
    border-radius: 1px;
  }

  .nav-list__item a:hover {
    color: #FFFFFF;
  }

  .nav-list__item:not(:first-child) {
    margin: 11rem 20rem 0;
    padding: 9rem 0 10rem 16rem;
  }

  .basket {
    display: none;
  }

  .main {
    padding: 0 20rem;
  }

  .mapping-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mapping-nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280rem;
    margin: 0 auto;
    padding: 0 18rem;
    left: -100%;
    z-index: 8;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .mapping-menu__item {
    margin: 21rem 0 0 16rem;
    padding: 0;
  }

  .mapping-menu__item--link {
    background-position: 90% 51%;
  }

  .mapping-menu__item a,
  .submenu__item a {
    padding: 13rem 0 11rem 17rem;
  }

  .brand {
    left: 0;
    top: 67rem;
  }

  .submenu {
    margin: 0 0 10rem 0;
    border: none;
  }

  .submenu__item--product {
    padding: 0;
    margin: 0;
  }

  .submenu__item--brand {
    padding: 0;
    margin: 0;
  }

  .submenu__item a {
    padding: 5rem 0 5rem 17rem;
  }

  .mapping-price {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FFFFFF;
    border-radius: 1rem;
    padding: 0 18rem;
  }

  .mapping-prise__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 155rem 0 0 0;
    width: 100%;
  }

  .mapping-price__title,
  .mapping-price__description {
    display: none;
  }

  .mapping-price__btn {
    display: block;
    width: 100%;
    padding: 14rem 0 13rem;
    margin-bottom: 19rem;
    outline: none;
    border: none;
    background: #FF3D3D;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 16rem;
    line-height: 21rem;
  }

  .price-max {
    margin-left: 0;
  }

  .form-item--big {
    margin: 19rem 0;
  }

  .price--input {
    padding: 13rem 10rem 11rem 20rem;
    width: auto;
  }

  .mapping-nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 5;
  }

  .shadow-active {
    left: calc(50% - 157rem);
    top: calc(50% - 138px);
  }

  .shadow-body {
    overflow: hidden;
  }

  .col {
    width: 33.1%;
  }

  .col--discount {
    width: 66.3%;
  }

  .product-item--discount__content {
    margin-left: 61rem;
    padding-top: 31rem;
  }

  .product-item__description {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .col {
    width: 49.8%;
  }

  .col--discount {
    width: 99.7%;
  }

  .product-item--discount__content {
    margin-left: 75rem;
    padding-top: 27rem;
  }

  .product-item--discount__content {
    margin: 0;
    padding: 0;
  }

  .product-item--discount__img {
    padding: 21rem 0 0 26rem;
  }

  .product-item--discount__description {
    padding: 4rem 0 64rem;
  }

  .product-item--discount__description {
    padding: 5rem 0 31rem;
  }

  .product-item--discount__price--old {
    padding-bottom: 8rem;
  }

  .product-item--discount__price--new {
    padding-top: 8rem;
  }

  .product-item--discount__price--new:after {
    padding-bottom: 16rem;
  }
}

@media (max-width: 540px) {
  .search {
    background: #1F497B;
    padding: 11rem 0 12rem 21rem;
  }

  .header-search__img {
    position: absolute;
    top: 4rem;
    right: 56rem;
  }

  .form-header {
    position: absolute;
    width: 100%;
    top: 72px;
    left: -100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .form-header-active {
    left: 0;
  }

  .header--basket {
    padding: 0 13rem 0 32rem;
  }

  .header-search--img {
    display: block;
    fill: white;
  }

  .header-search--img:hover {
    fill: #FBFF3D;
  }

  .main__mapping {
    padding: 13rem 0 25rem;
  }

  .col {
    width: 100%;
    margin: -1rem -2rem 0 0;
  }

  .col--discount {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-item--discount {
    padding: 0 18rem 16rem 18rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-item--discount__img {
    padding: 18rem 0 20rem 0;
  }

  .product-item--discount__price {
    padding: 0 18rem;
  }

  .product-item--discount__price--old {
    padding-bottom: 5rem;
  }

  .product-item__img {
    padding: 22rem 37rem 8rem 38rem;
  }

  .product-item__title {
    margin: 0 0 5rem;
  }

  .product-item__description {
    padding-bottom: 15rem;
  }

  .product-item__price {
    padding: 8rem 0 17rem 0;
  }
}